/.settings/*

/html-template/*
/bin-debug/*
/bin-release/*
/bin/*
docs/*
obj/*
classes/*

ComponentBase_Flex_temp_flex_config.xml
ComponentBase_temp_flexunit_config.xml
UnitTests_temp_flexunit_config.xml

.actionScriptProperties
.flexProperties
.flexLibProperties
.FlexUnitSettings
.project
.metadata

Icon
Thumbs.db
.DS_Store
dist/*
report/*
doc/*

*.iml
*.ipr
*.iws